@CHARSET "UTF-8";
testplan {
	display:table;
}
testfall {
	display:table-row;
}
vorraussetzungen,
durchführung {
	display:block;
}
vorraussetzung {
	display:list-item;
}
table {border: solid thin; }
td {border: dotted thin; }
table.durchführungen,
table.ergebnisse {width:100%; }
td.schritte {width:40%; }