@CHARSET "UTF-8";
table {
	border-collapse: collapse;
}
table,td,th {
	border:solid thin;
}
table.testat td:nth-child(2) {
	width:10cm;
	padding:0.5cm;
}

ol.testfälle li,
ol.durchführungen li {
	margin-right:1cm;
	margin-bottom: 10px;
}

td {border: solid thin; vertical-align: top; }
table.ergebnisse {width:100%;
}
table.ergebnisse td:nth-child(2){width:1.5cm;}

th {text-align:left;}